{% extends "layout-backoffice.html" %}
{%block body%}
  {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
      <h1> Borrar Post </h1>
      <br></br>
      <h3> Borrar: {{ post.title }}</h3>
      <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <strong> El post será eliminado permanentemente</strong>
            <br></br>
            <button class="btn btn-secondary">Borrar Post</button>
        </form>
      </div>
    {% else %}
      Hay que redirigir a home o last page
    {% endif %}
  {% endif %}
{% endblock %}