{% extends "layout-backoffice.html" %}
{% block body %}
  
      <h1> Tus Posts </h1>
      <ul>
      {% for post in object_list %}
        <li>
          <a href="{% url 'backoffice:detail_post' post.pk %}">
            {{ post.title }}
          </a>
          - {{ post.created_on }} 
          {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
              <a href="{% url 'backoffice:update_post' post.pk %}"> Editar </a>
              <a href="{% url 'backoffice:delete_post' post.pk %}"> Eliminar </a>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
{% endblock %}