{% extends 'layout.html' %}
{% load rest_framework %}
{% block body %}
<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
      <!-- Title -->
      <h1 class="mt-4">{{ post.title }}</h1>
      <!-- Author -->
      <p class="lead">
        by
        <a href="#">{{ post.author.first_name }}</a>
      </p>
      <hr>
      <!-- Date/Time -->
      <p>{{ post.created_on }}</p>
      <hr>
      <!-- Preview Image -->
      <div id="carouselCaptions" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for picture in postpictures.all %}
          <li
            data-target={{picture.id}}
            data-slide-to="{{ forloop.counter0 }}"
            class="{% if forloop.counter0 == 0 %} active {% endif %}"
          ></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
          {% for picture in post.pictures.all %}
          <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
            <img
              src="{{picture.image.url}}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          {% endfor %}
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselCaptions"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselCaptions"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <hr>

      <!-- Post Content -->
      <p class="lead">{{ post.content }}</p>

      <hr>

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}