{%load widget_tweaks %}
  <div class="modal-dialog" role="document">
    <form method="POST" action = "{%url 'test1:editSubset'  object.id %}" >
     {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modificar subconjunto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{form}}    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type ='submit' class="btn btn-secondary">Modificar</button>
        </div>
      </div>
    </form>
  </div>
