{%extends 'testAdmin/layouttest.html'%}
{%load static%}
{%load widget_tweaks %}
{%block head%}
<style>
body {
  background: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
</style>
{%endblock%}
{%block body%}

<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
        <h1 class="font-weight-light"> Resultado de {{prueba.name_test}}</h1>
        <p class="lead">In this snippet, the background image is fixed to the body element. Content on the page will scroll, but the image will remain in a fixed position!</p>
        <p class="lead">Scroll down...</p>
            <div class = "row row-cols-1 row-cols-md-2">
                {%for subconjunto in subconjuntos %}
                    <div class="col mb-4">
                        <div class="card">
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{subconjunto.name_subset}}</h5>
                                <p class="card-text">obtuviste respuestas 
                                    {%if subconjunto.id in  contadorSubconjunto%}
                                        {{contadorSubconjunto|length}}
                                    {%endif%}
                                    
                                    acertadas
                                </p>
                                <p class="card-text">comentarios del resultado</p>
                            </div>
                        </div>
                    </div>
                {%endfor%}
                              
            </div>
            
        <p class="lead mb-0">Tu puntaje total fue {{feedback.totalscore}}.</p>
        </div>

  </div>
  
</div>

{%endblock%}